@charset "utf-8";
/* CSS Document */

.delete_x
{
	background-image:url(../images/xmark.png);
	height:24px;
	width:24px;
}

.edit_pencil
{
	background-image:url(../images/e.png);
	height:21px;
	width:22px;
}