@charset "utf-8";
/* CSS Document */

@font-face {
	src: url(Gotham.otf);
	font-family: Gotham;
}
table {
	width: 100%;
}
.fleft {
	float: left;
}
.fright {
	float: right;
}
.hidden {
	display: none;
}
.center {
	text-align: center;
}
p.error {
	color: #f00;
}
.modal {
	display: none;
}
.modal label {
	clear: left;
	color: #036;
}
.modal input, .modal textarea, .modal select {
	clear: both;
	width: 100%;
	margin-bottom: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 3px;
	font-size: 1em;
	font-family: 'Lucida Grande';
}
.modal input, .modal input:focus, .modal input:active,
.modal textarea, .modal textarea:focus, .modal textarea:active,
.modal select, .modal select:focus, .modal select:active {
	border: 1px solid #ccc;
	-moz-box-shadow: 0.3em 0.3em 0.3em #ccc;
    -webkit-box-shadow: 0.3em 0.3em 0.3em #ccc;    
    box-shadow: 0.3em 0.3em 0.3em #ccc;
}
.modal textarea {
	resize: vertical;
}
.modal input.error, .modal textarea.error {
	border: 1px solid #f00;
	-moz-box-shadow: 0.3em 0.3em 0.3em #fbb;
    -webkit-box-shadow: 0.3em 0.3em 0.3em #fbb;    
    box-shadow: 0.3em 0.3em 0.3em #fbb;
}
.modal .required {
	color: #f00;
}
.modal .hint {
	clear: right;
	font-size: 0.8em;
	float: right;
	color: #03C;
	margin-top: 5px;
}
#results-table tr:nth-child(odd) {
	background: #fff;
}
#results-table tr:nth-child(even) {
	background: #eee;
}
#results-table tr:hover {
	background-color: #ccc;
}
td.checkbox {
	width: 10%;
	text-align: center;
	vertical-align: middle;
}
td.checkbox input {
	width: 20px;
	height: 20px;
	cursor: pointer;
	margin: 5px auto 0 auto;
}
td.edit {
	float: none;
	width: 21px;
}
.delete_x
{
	cursor: pointer;
	background-image:url(../images/xmark.png);
	height:24px;
	width:24px;
}

.edit_pencil
{
	cursor: pointer;
	background-image:url(../images/e.png);
	height:21px;
	width:22px;
}
label {
	white-space: nowrap;
	text-wrap: none;
}
.both {
	clear: both;
}
html {
	background-image: url(../images/uwaterloo_background.jpg);
	background-repeat: no-repeat;
	background-color: #000000;
	overflow: -moz-scrollbars-vertical;
    overflow: scroll;
}

body {
	font-size: 15px;
	font-family: Gotham, arial, verdana, "lucida sans unicode", tahoma, sans-serif;
}
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#wrapper {
    height: 100%;
	width: 950px;
	font-weight: 100;
	margin:0 auto;
}
#header {
	padding-bottom: 5px;
	margin: 0 auto;
	text-align:center;
	letter-spacing: 1px;
	font-weight: 500;
}
#topwrap {
	position: relative;
	padding: 5px;
	margin: 0 auto;
	border-radius: 10px;
	background-color: #F5F5F5;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}
#topwrap h1 {
	margin-top: 5px;
}
#navwrap {
	border-top: 1px solid #D1D1D1;
	height:30px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-image: linear-gradient(bottom, rgb(204,204,204) 14%, rgb(224,224,224) 68%);
	background-image: -o-linear-gradient(bottom, rgb(204,204,204) 14%, rgb(224,224,224) 68%);
	background-image: -moz-linear-gradient(bottom, rgb(204,204,204) 14%, rgb(224,224,224) 68%);
	background-image: -webkit-linear-gradient(bottom, rgb(204,204,204) 14%, rgb(224,224,224) 68%);
	background-image: -ms-linear-gradient(bottom, rgb(204,204,204) 14%, rgb(224,224,224) 68%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0E0E0', endColorstr='#CCCCCC');
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.14, rgb(204,204,204)),
		color-stop(0.68, rgb(224,224,224))
	);
}
#poswrap {
	float:left;
	width: 792px;
}
#container {
	padding: 10px;
	background: url(https://si0.twimg.com/a/1355267558/t1/img/wash-white-30.png);
	width: 960px;
	margin-top:10px;
	margin-bottom:30px;
	border-radius: 10px;
	float:left;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);

}
#content {
	background-color: #F5F5F5;
	border-radius: 10px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
	padding: 15px;
	margin-top: 10px;
	width: 930px;
	/* overflow: auto; */
}
#contentDisplay {

	width: 100%;
	/* overflow: auto; */
}
#subheader {
	border: 1px solid #000;
	margin-top:10px;
	padding:5px;
	background-color:#F5FAFF;
	text-align:center;
}
#left_navigation{
	padding-left:20px;
	background-color:#F5FAFF;
	border: 2px solid #000;
	width:230px;
	float:left;
	margin-top:30px;
	height:594px;
}
#prev {
	background: #AFAFAF;
	border-right: 1px solid #555555;
	border-bottom-left-radius: 10px;
	width:83px;
	height:30px;
	float:left;
	background-image: url(../images/l.png);
	opacity:0.5;
	background-repeat:no-repeat;
	background-position:center;
}

#topnav {
	width: 650px;
	margin: 0 auto;
}
.first {
	border-left: 1px solid #CCCCCC;
}
.nav {
	line-height: 22px;
	height:20px;
	width:auto;
	float:left;
	border-right: 1px solid #CCCCCC;
	padding: 4px 10px;
	cursor:pointer;
	opacity:0.7;
}
.nav:hover {
	border-right-color: #555555;
	opacity:1;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	cursor:pointer;
}
.right {
	border-top-right-radius: 10px;
	margin-top: 0;
	position: absolute;
	right: 0px;
	top: 0px;
}
.lessright {
	right:40px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 10px;
}
.botbord {
	border-bottom: 1px solid #CCCCCC;
}
.botbord:hover {

}
#content td {
	border:0px;
}
#contentDisplay td {
	border:1px solid;
}
.stats td{
	border:2px;
}
#content table {
	margin: 10px 0;
}
#footer {
	margin:auto;
	padding-top:10px;
	height:75px;
	background-color:#F5FAFF;
}
.editField {
	width:250px;
}
.visitor_table span.big, .ui-dialog-title {
	font-size: 1.5em;
	font-weight: bold;
}
.visitor_table tbody tr:nth-child(odd) {
	background-color: #fff;
}
.visitor_table tbody tr:nth-child(even) {
	background-color:#eee;
}
.visitor_table span {
	margin: 20px;
}
#deletebutton {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #F14343), color-stop(1, #C01212) );
	background:-moz-linear-gradient( center top, #F14343 5%, #C01212 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F14343', endColorstr='#C01212');
	color:#EEEEEE;
}
#deletebutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;

	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #C01212), color-stop(1, #F14343) );
	background:-moz-linear-gradient( center top, #C01212 5%, #F14343 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C01212', endColorstr='#F14343');
	color:#EEEEEE;

}
a.button
{
	cursor: pointer;
	display: inline-block;
	white-space: nowrap;
	background-color: #ccc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
	background-image: -webkit-linear-gradient(top, #eee, #ccc);
	background-image: -moz-linear-gradient(top, #eee, #ccc);
	background-image: -ms-linear-gradient(top, #eee, #ccc);
	background-image: -o-linear-gradient(top, #eee, #ccc);
	background-image: linear-gradient(top, #eee, #ccc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
	border: 1px solid #777;
	padding: 0 1.5em;
	margin: 0.5em;
	font: bold 1em/2em Arial, Helvetica;
	text-decoration: none;
	color: #333;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
	border-radius: .2em;
	-moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

a.button:hover
{
	background-color: #ddd;        
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
	background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
	background-image: -moz-linear-gradient(top, #fafafa, #ddd);
	background-image: -ms-linear-gradient(top, #fafafa, #ddd);
	background-image: -o-linear-gradient(top, #fafafa, #ddd);
	background-image: linear-gradient(top, #fafafa, #ddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');        
}

a.button:active
{
	-moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	-webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	position: relative;
	top: 1px;
}

a.button:focus
{
	outline: 0;
	background: #fafafa;
}    

a.button:before
{
	background: #ccc;
	background: rgba(0,0,0,.1);
	float: left;        
	width: 1em;
	text-align: center;
	font-size: 1.5em;
	margin: 0 1em 0 -1em;
	padding: 0 .2em;
	-moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-moz-border-radius: .15em 0 0 .15em;
	-webkit-border-radius: .15em 0 0 .15em;
	border-radius: .15em 0 0 .15em;
	pointer-events: none;
}
a.add:before
{
	content: "\271A";
}

a.edit:before
{
	content: "\270E";        
}

a.delete:before
{
	content: "\2718";        
}

a.save:before
{
	content: "\2714";        
}

a.email:before
{
	content: "\2709";        
}

a.like:before
{
	content: "\2764";        
}

a.next:before
{
	content: "\279C";
}

a.star:before
{
	content: "\2605";
}

a.spark:before
{
	content: "\2737";
}

a.play:before
{
	content: "\25B6";
}
div.button {
	float: left;
	margin-left: 30px;
	padding-top: 14px;
}
div.button label {
	float: left;
	font-size: 14px;
	padding: 4px 8px;
	text-transform: uppercase;
}
div.button * {
	cursor: pointer;
}
input.checkbox {
	display: none;
}

input.checkbox + label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

input.checkbox + label:active, input.checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

input.checkbox:checked + label {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

input.checkbox:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #000;
}

@media print {
	#topwrap, .button, #results-table_wrapper, .screen_only { display: none !important; }
}